/* Contact */

/* Address */
address {
    font-style: normal;
    > p {
        margin-bottom: 0.5rem;
        > span {
            display: block;
        }
        a {
            color: var(---colorContrast);
        }
    }
}


/* Images */
img#contact {
    width: 100%;
    max-height: 457px;
    @media only screen and (min-width: 800px) {
        max-height: 60%;
    }
    @media only screen and (min-width: 1024px) {
        float: right; 
        max-height: auto;
        margin-left: 1rem;
        width: auto;
    }
}

/* Form */
form {
    margin-top: 2rem;
    fieldset {
        padding: 0.5rem;
        border: thin solid var(---colorBgMain);
        border-radius: 0.5rem;
        legend {
            padding: 0 0.25rem;
            font-size: 1rem;
            color: var(---colorContrast);
        }
    }
    
    label {
        display: inline-block;
        width: 100%;
        color: var(---colorContrast);
        @media only screen and (min-width: 1370px) {
            width: 7.5rem;        
            &[for=txtInformation] {
                width: 100%;
            }
        }
    }
    
    input {
        width: auto;
        margin-bottom: 0.8rem;
        &[type="text"], &[type="email"], &[type="tel"] {
            width: 100%;
            @media only screen and (min-width: 1370px) {
                width: calc(100% - 8.1rem);
            }
        }
        &[type="number"] {
            text-align: right;
        }
        &[type="submit"] {
            border-radius: 0.5rem;
        }
    }
    
    textarea {
        width: 100%;
        height: 5rem;
    }
    
    button[type="submit"] {
        display: block;
        width: auto;
        margin: 0.5rem 0 0 1rem;
        padding: 0.4rem 1rem;
        background-color: var(---colorContrast);
        color: var(---textColor);
        border-radius: 0.5rem;
        border: none;
        font-size: 1.2rem;
    }
}