/* Menu */

/* Headers */
article > header {
    border-radius: 0.5rem;
    text-align: center;  
    margin-top: 1rem;  
    @media (min-width: 480px) {
        text-align: left;
        width: calc(100% - 320px - 1rem);
        margin-top: 0;
    }
}

/* Articles */
article.dish {
    margin-bottom: 1rem;
    padding: 1.2rem;
    border-radius: 1rem;
    overflow: auto;
    background-color: var(---colorBackground);
}

/* Text */
p {
    &.menuItem {
        margin-top: 0.6rem;
    }
    &.price {
        font-weight: bold;
        position: relative;
        right: 0;
        display: inline-block;
        margin-top: 0.6rem;
        color: var(---colorContrast);
    }
}

/* Images */
img.menu {
    width: 100%;
    @media (min-width: 480px) {
        float: right;
        width: auto;
    }
}
